<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnieu.crtvn.dao.ExaminationMapper">
  <resultMap id="BaseResultMap" type="com.hnieu.crtvn.entity.Examination">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="PID" jdbcType="INTEGER" property="pid" />
    <result column="COID" jdbcType="INTEGER" property="coid" />
    <result column="CSID" jdbcType="INTEGER" property="csid" />
    <result column="TTID" jdbcType="INTEGER" property="ttid" />
    <result column="ONETID" jdbcType="INTEGER" property="onetid" />
    <result column="TWOTID" jdbcType="INTEGER" property="twotid" />
    <result column="mark" jdbcType="INTEGER" property="mark" />
    <result column="numbers" jdbcType="INTEGER" property="numbers" />
    <result column="reserve1" jdbcType="INTEGER" property="reserve1" />
    <result column="reserve2" jdbcType="VARCHAR" property="reserve2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, PID, COID, CSID, TTID, ONETID, TWOTID, mark, numbers, reserve1, reserve2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from examination
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from examination
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hnieu.crtvn.entity.Examination">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into examination (code, PID, COID, 
      CSID, TTID, ONETID, 
      TWOTID, mark, numbers, 
      reserve1, reserve2)
    values (#{code,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{coid,jdbcType=INTEGER}, 
      #{csid,jdbcType=INTEGER}, #{ttid,jdbcType=INTEGER}, #{onetid,jdbcType=INTEGER}, 
      #{twotid,jdbcType=INTEGER}, #{mark,jdbcType=INTEGER}, #{numbers,jdbcType=INTEGER}, 
      #{reserve1,jdbcType=INTEGER}, #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnieu.crtvn.entity.Examination">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into examination
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="coid != null">
        COID,
      </if>
      <if test="csid != null">
        CSID,
      </if>
      <if test="ttid != null">
        TTID,
      </if>
      <if test="onetid != null">
        ONETID,
      </if>
      <if test="twotid != null">
        TWOTID,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="numbers != null">
        numbers,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
      <if test="reserve2 != null">
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="coid != null">
        #{coid,jdbcType=INTEGER},
      </if>
      <if test="csid != null">
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="ttid != null">
        #{ttid,jdbcType=INTEGER},
      </if>
      <if test="onetid != null">
        #{onetid,jdbcType=INTEGER},
      </if>
      <if test="twotid != null">
        #{twotid,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="numbers != null">
        #{numbers,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=INTEGER},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnieu.crtvn.entity.Examination">
    update examination
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=INTEGER},
      </if>
      <if test="coid != null">
        COID = #{coid,jdbcType=INTEGER},
      </if>
      <if test="csid != null">
        CSID = #{csid,jdbcType=INTEGER},
      </if>
      <if test="ttid != null">
        TTID = #{ttid,jdbcType=INTEGER},
      </if>
      <if test="onetid != null">
        ONETID = #{onetid,jdbcType=INTEGER},
      </if>
      <if test="twotid != null">
        TWOTID = #{twotid,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="numbers != null">
        numbers = #{numbers,jdbcType=INTEGER},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=INTEGER},
      </if>
      <if test="reserve2 != null">
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnieu.crtvn.entity.Examination">
    update examination
    set code = #{code,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=INTEGER},
      COID = #{coid,jdbcType=INTEGER},
      CSID = #{csid,jdbcType=INTEGER},
      TTID = #{ttid,jdbcType=INTEGER},
      ONETID = #{onetid,jdbcType=INTEGER},
      TWOTID = #{twotid,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      numbers = #{numbers,jdbcType=INTEGER},
      reserve1 = #{reserve1,jdbcType=INTEGER},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>